#img17{
	background-size:cover;
}
#img15{
	background-size:cover;
}
.foto{
	border-bottom-style:dotted;
	border-radius:50%;
}
#img9{
	border-bottom-style:dotted;
	border-radius:60%;
}
#img10{
	background-size:cover;
}
#img7{
	border-bottom-style:dotted;
	border-radius:10%;
}
#img21{
	border-bottom-style:dotted;
	border-radius:20%;
}
#img22{
	border-bottom-style:dotted;
	border-radius:10%;
}
#img43{
	background-size:cover;
}
#img25{
	border-bottom-style:dotted;
	border-radius:10%;
}
#img27{
	border-bottom-style:dotted;
	border-radius:10%;
}
#img28{
	border-bottom-style:dotted;
	border-radius:10%;
}
#img29{
	border-bottom-style:dotted;
	border-radius:10%;
}
#img44{
	background-size:cover;
}
#img31{
	border-bottom-style:dotted;
	border-radius:30%;
}
#img33{
	border-bottom-style:dotted;
	border-radius:30%;
}
#img36{
	background-size:cover;
}
#img37{
	border-bottom-style:dotted;
	border-radius:30%;
}
#img38{
	border-bottom-style:dotted;
	border-radius:30%;
}
#img31{
	border-bottom-style:dotted;
	border-radius:20%;
}
#img39{
	border-bottom-style:dotted;
	border-radius:20%;
}
#img40{
	background-size:cover;
}
#img41{
	border-bottom-style:dotted;
	border-radius:30%;
}
#img42{
	background-size:cover;
}